.frm_divs {
    border-bottom: 1px #008E06 solid;
    margin: 10px
}

.frm_divs {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 98%;
}

.input_form,
#addr {
    margin: 10px;
    height: 25px;
    width: 90%;
}

.edit,
.save {
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
    border-radius: 4px;
}

.edit {
    background-color: #008E06;
    color: #fefefe;
    border: #fefefe 1px solid;
    margin-right: 10px;
}

.save {
    background-color: #fefefe;
    color: #008E06;
    border: #008E06 1px solid;
}

.edit:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.3s;
}

.save:hover {
    transform: scale(1.3);
    background-color: #008E06;
    color: #fefefe;
    transition: all ease-in-out 0.3s;
}

@media screen and (min-width: 766px) {
    .frm_divs {
        width: 40%;
        border: #008E06 1px solid;
    }
}